registry=https://registry.npmmirror.com/

@cepdevops:registry=https://ptc-npm.pkg.coding.intlgame.com/costcenter/cepdevops/
always-auth=true
//ptc-npm.pkg.coding.intlgame.com/costcenter/cepdevops/:username=cepdevops-1704270765241
//ptc-npm.pkg.coding.intlgame.com/costcenter/cepdevops/:_password=YjY4NWMyMTU3ZjM4OTEyMmE3MDlkMzQ0ZTdlYjVmY2U4MjUwOTVhYg==

# pnpm把@vue/runtime-core从vue模块下提升至顶层依赖，才能对其进行全局组件类型声明扩展
public-hoist-pattern[]=@vue/runtime-core
