registry=https://registry.npmmirror.com/
shamefully-hoist=true
@cepdevops:registry=https://ptc-npm.pkg.coding.intlgame.com/costcenter/cepdevops/
always-auth=true
//ptc-npm.pkg.coding.intlgame.com/costcenter/cepdevops/:username=cepdevops-1704270765241
//ptc-npm.pkg.coding.intlgame.com/costcenter/cepdevops/:_password=YjY4NWMyMTU3ZjM4OTEyMmE3MDlkMzQ0ZTdlYjVmY2U4MjUwOTVhYg==